.wrapper{
 display: flex;
 min-height: 100vh;
 align-items: center;
 justify-content: center;
 position:relative
}
.topPic-div{
 position: absolute;
 top: 0px;
 width: 100%;
 left: 0px;
 right: 0px;
 z-index: 0;
 
}


.topPic-div img{
 width: 100%;
  z-index: 0;

}

.logo-top{
 position: absolute;
 left: 55px;
 top: 19%;
 background-color: transparent;
 width: 35%;
 
}
.logo-top img{
 width: 100%
}

.logo-top p{
 color: rgb(255, 255, 255);
 font-size: clamp(1px, 2vw, 23px);
  width: 100%
}

.buttons-top{
 display: flex;
 flex-direction: row;
 column-gap: 15px;
 width: 70%;
 height:100%;
}
.buttons-top button{
 padding:12px 35px;
 font-size: clamp(1px, 2vw, 23px);
 font-weight:600;
 display: flex;
 align-items: center;
 column-gap: 10px;
}

.buttons-top svg{
 width: clamp(1px, 2vw, 23px);
}

.buttons-top .play{
 border-radius: 5px;
 border:none;
}

.moreInfo {
 color: white;
 border:none;
 border-radius: 5px;
 background-color: rgba(105, 105, 105, 0.7);
}

.carousel{
  width: 100%;
  overflow-x: auto;
  z-index: 1000;
  margin-top: -200px;
  display: flex;
  flex-direction: row;
  gap: 1em;
  
}

.carousel::-webkit-scrollbar{
  display:none0;
}

.carousel::scroll-button(right){
  content: 'Right';
  border: none;
  background-color: var(--brand-color);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  
}

.carousel img{
  width: 300px;
  border-radius: 4px;
  flex:0 0 20em
  
}